.selection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main_image
{
    width: 100%;
    max-width: 500px;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.main_image_container
{
    position: relative;
}

.floating_info
{
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
}

.floating_info .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: .85;
    filter: blur(2px);
    border-radius: 0 0 15px 15px;
    background-color: white;
}

.floating_info .data
{
    display: grid;
    gap: .25rem;
    position: relative;
    z-index: 5;
}

.floating_info .data h4
{
    font-size: 1.5rem;
}

.floating_info .data .distance
{
    font-size: .8rem;
    color: grey;
}

.button_section
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.button_section button
{
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #383C47;
    transition: background-color 200ms ease-out;
}

.button_section button:hover
{
    background-color: #212832;
}

.button_section button img
{
    width: 50%;
    height: 50%;
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(350deg) brightness(116%) contrast(101%) grayscale(1);
}

.button_section .like,
.button_section .dismiss
{
    width: 75px;
    height: 75px;
}

.button_section .favorite
{
    width: 60px;
    height: 60px;
}